Repository abasitt/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/metal, cluster/playground

fixing typo
  kubernetes/neo/apps/calico-system/calico/config/bgpgatewaypeer.yaml
Labels: area/kubernetes

fixing calicobgpconfig
  kubernetes/neo/apps/calico-system/calico/config/bgpconfiguration.yaml
Labels: area/kubernetes

update bgp peer address
  kubernetes/neo/apps/calico-system/calico/config/bgpgatewaypeer.yaml
Labels: area/kubernetes

bgp peer name
  kubernetes/neo/apps/calico-system/calico/config/bgpgatewaypeer.yaml
Labels: area/kubernetes

updat clustervars
  kubernetes/neo/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

update istioconfig
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/istiod/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istiod/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istiod/app/kustomizeconfig.yaml
  kubernetes/neo/apps/istio-system/istiod/ks.yaml
Labels: area/kubernetes

updating istio-cni ks
  kubernetes/neo/apps/istio-system/istio-cni/ks.yaml
  kubernetes/neo/apps/network/metallb/ks.yaml
Labels: area/kubernetes

enable istio
  kubernetes/neo/apps/istio-system/istio-base/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-base/ks.yaml
  kubernetes/neo/apps/istio-system/istiod/ks.yaml
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

updating istio-base
  kubernetes/neo/apps/istio-system/istio-base/ks.yaml
Labels: area/kubernetes

changing image tag
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

disable tracer
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

making pilot service dualstack
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

adding istio-ingressgw
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/helm-values.yaml
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/helmrelease.yaml
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/kustomization.yaml
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/kustomizeconfig.yaml
  kubernetes/neo/apps/istio-gateways/ingress-gateway/ks.yaml
  kubernetes/neo/apps/istio-gateways/ingressclass.yaml
  kubernetes/neo/apps/istio-gateways/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-base/ks.yaml
  kubernetes/neo/apps/istio-system/istiod/ks.yaml
Labels: area/kubernetes

fixing kustomize patch
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/helmrelease.yaml
Labels: area/kubernetes

adding anfinity to istio gateways
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/helm-values.yaml
Labels: area/kubernetes

adding istiod affinity
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

adding private internal ingress
  kubernetes/neo/apps/istio-gateways/ingress-privategateway/app/helm-values.yaml
  kubernetes/neo/apps/istio-gateways/ingress-privategateway/app/helmrelease.yaml
  kubernetes/neo/apps/istio-gateways/ingress-privategateway/app/kustomization.yaml
  kubernetes/neo/apps/istio-gateways/ingress-privategateway/app/kustomizeconfig.yaml
  kubernetes/neo/apps/istio-gateways/ingress-privategateway/ks.yaml
  kubernetes/neo/apps/istio-gateways/kustomization.yaml
  kubernetes/neo/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

updating affinity rules
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/helm-values.yaml
  kubernetes/neo/apps/istio-gateways/ingress-privategateway/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
  kubernetes/neo/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

updating istiod to enable hbone
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

enable istio-cni
  kubernetes/neo/apps/istio-system/istio-base/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/kustomizeconfig.yaml
  kubernetes/neo/apps/istio-system/istiod/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

adding istio-ztunnel
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/kustomizeconfig.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/ks.yaml
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

removing extra lines
  kubernetes/neo/apps/istio-system/istio-cni/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/kustomization.yaml
Labels: area/kubernetes

disable driff on istiod
  kubernetes/neo/apps/istio-system/istiod/app/helmrelease.yaml
Labels: area/kubernetes

enable test back
  kubernetes/neo/apps/istio-system/istiod/app/helmrelease.yaml
Labels: area/kubernetes

correcting typo
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helmrelease.yaml
Labels: area/kubernetes

remove cni and ztunnel
  kubernetes/neo/apps/istio-system/istio-cni/ks.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/ks.yaml
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

prune istio
  kubernetes/neo/apps/istio-system/kustomization.yaml
  kubernetes/neo/apps/istio-system/namespace.yaml
Labels: area/kubernetes

enable istio
  kubernetes/neo/apps/istio-system/kustomization.yaml
  kubernetes/neo/apps/istio-system/namespace.yaml
Labels: area/kubernetes

fixing ztunnel clustername
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helm-values.yaml
Labels: area/kubernetes

fixing pilot ambient flag
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

default ns in to istio ambient
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

try without ambient
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

enable network for ztunnel
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helm-values.yaml
Labels: area/kubernetes

re-enable network
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

remove multicluster-network
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/namespace.yaml
Labels: area/kubernetes

changing mode to ebpf
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomization.yaml
Labels: area/kubernetes

revert back iptables
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomization.yaml
Labels: area/kubernetes

enable ebpf
  ansible/neo/inventory/group_vars/master/main.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomization.yaml
Labels: area/ansible, area/kubernetes

disable ambient
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

re-enable kube-proxy
  ansible/neo/inventory/group_vars/master/main.yaml
Labels: area/ansible

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

# Clusters
cluster/metal:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/metal/**/*"
cluster/playground:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/playground/**/*"
