Repository abasitt/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/metal, cluster/playground

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

# Clusters
cluster/metal:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/metal/**/*"
cluster/playground:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/playground/**/*"

remove k8sserver from k3sserver manifest
  ansible/neo_pg/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

renaming scripts
  scripts/node-labels.sh
Labels: none

adding PILOT_ENABLE_IP_AUTOALLOCATE
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

adding sop check
  .taskfiles/Sops/Taskfile.yaml
  Taskfile.yml
Labels: area/taskfile

adding force reconcile
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

adding reference
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

removing node label script
  scripts/node-labels.sh
Labels: none
