Repository abasitt/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/metal, cluster/playground

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

# Clusters
cluster/metal:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/metal/**/*"
cluster/playground:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/playground/**/*"

updating workstation files
  .taskfiles/Workstation/Brewfile
Labels: area/taskfile

updating workstation install list
  .taskfiles/Workstation/Brewfile
Labels: area/taskfile

remove meta sync
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

fixing networksettings in ansible
  ansible/playground/playbooks/cluster-prepare.yaml
Labels: area/ansible

updating initial cilium setup to 1.15.6
  ansible/playground/playbooks/templates/custom-cilium-helmchart.yaml.j2
Labels: area/ansible

adding ipfamily to coredns service
  ansible/playground/playbooks/templates/custom-coredns-helmchart.yaml.j2
Labels: area/ansible

fixing coredns dualstack service
  ansible/playground/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/playground/playbooks/templates/custom-coredns-helmchart.yaml.j2
  kubernetes/metal/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/metal/flux/vars/cluster-settings.yaml
  kubernetes/playground/flux/vars/cluster-settings.yaml
Labels: area/ansible, area/kubernetes, cluster/metal, cluster/playground

ipv6_first changes
  ansible/playground/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/playground/inventory/group_vars/master/main.yaml
  ansible/playground/inventory/group_vars/worker/main.yaml
Labels: area/ansible

updatng kubeconfig task
  ansible/playground/playbooks/tasks/kubeconfig.yaml
Labels: area/ansible

adding bind and advert address
  ansible/playground/inventory/group_vars/master/main.yaml
  ansible/playground/playbooks/cluster-prepare.yaml
Labels: area/ansible

updating ipv6 first with working condition
  ansible/playground/inventory/group_vars/kubernetes/main.yaml
  ansible/playground/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/playground/inventory/group_vars/master/main.yaml
Labels: area/ansible

updating the kubeconfig task
  ansible/playground/playbooks/tasks/kubeconfig.yaml
Labels: area/ansible

updating kubeconfig task
  ansible/playground/playbooks/tasks/kubeconfig.yaml
Labels: area/ansible

removing node update frequency to default
  ansible/playground/inventory/group_vars/master/main.yaml
Labels: area/ansible

remove node-moniotor to default
  ansible/playground/inventory/group_vars/master/main.yaml
Labels: area/ansible

remove anonymous-auth for haproxy
  ansible/playground/inventory/group_vars/master/main.yaml
Labels: area/ansible

bring back node-monitor changes
  ansible/playground/inventory/group_vars/master/main.yaml
Labels: area/ansible

fix coredns order
  ansible/playground/playbooks/templates/custom-coredns-helmchart.yaml.j2
Labels: area/ansible

adjusting playground apps
  kubernetes/playground/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/playground/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/playground/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/playground/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/playground/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/playground/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/playground/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/playground/apps/cert-manager/kustomization.yaml
  kubernetes/playground/apps/cert-manager/namespace.yaml
  kubernetes/playground/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/playground/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/playground/apps/kube-system/kustomization.yaml
  kubernetes/playground/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/playground/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/playground/apps/kube-system/local-path-provisioner/ks.yaml
  kubernetes/playground/apps/networking/kustomization.yaml
  kubernetes/playground/flux/apps.yaml
  kubernetes/playground/flux/config/flux.yaml
  kubernetes/playground/flux/repositories/git/kustomization.yaml
  kubernetes/playground/flux/repositories/helm/openebs.yaml
  kubernetes/playground/flux/vars/cluster-secrets.secret.sops.yaml
  kubernetes/playground/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/playground

modifying flux install task
  .taskfiles/Flux/Taskfile.yaml
Labels: area/taskfile

updating flux paths
  kubernetes/metal/flux/config/cluster.yaml
  kubernetes/playground/flux/config/cluster.yaml
  kubernetes/playground/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes, cluster/metal, cluster/playground

updating flux bootstrap
  kubernetes/playground/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes, cluster/playground

updating repo path
  kubernetes/playground/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/playground

update secret
  kubernetes/playground/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes, cluster/playground

changing cluster path from test to playground
  kubernetes/playground/apps/default/echo-server/ks.yaml
  kubernetes/playground/apps/default/hajimari/ks.yaml
  kubernetes/playground/apps/flux-system/addons/ks.yaml
  kubernetes/playground/apps/kube-system/cilium/ks.yaml
  kubernetes/playground/apps/kube-system/coredns/ks.yaml
  kubernetes/playground/apps/kube-system/metrics-server/ks.yaml
  kubernetes/playground/apps/networking/istio/istio-base/ks.yaml
  kubernetes/playground/apps/networking/istio/istio-cni/ks.yaml
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/ks.yaml
  kubernetes/playground/apps/networking/istio/istiod/ks.yaml
  kubernetes/playground/apps/networking/metallb/ks.yaml
Labels: area/kubernetes, cluster/playground

updating post render
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

disable servicemonitor for playground metrics
  kubernetes/playground/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

updating ingressclass
  kubernetes/playground/apps/default/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

updating postrender for istio-ingress
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

disable cilium servicemonitor
  kubernetes/playground/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

takeaway ingress resource for echo-server
  kubernetes/playground/apps/default/echo-server/app/helmrelease.yaml
  kubernetes/playground/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

updating echoserver
  kubernetes/playground/apps/default/echo-server/app/helmrelease.yaml
  kubernetes/playground/apps/default/echo-server/app/kustomization.yaml
  kubernetes/playground/apps/default/echo-server/ks.yaml
Labels: area/kubernetes, cluster/playground

fix cluster-api address
  kubernetes/playground/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/playground

fix routingmode
  kubernetes/playground/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

echo-server update
  kubernetes/playground/apps/default/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

deleting an app
  kubernetes/playground/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/playground/apps/default/hajimari/app/kustomization.yaml
  kubernetes/playground/apps/default/hajimari/ks.yaml
  kubernetes/playground/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/playground

istio enable dualstack
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
  kubernetes/playground/apps/networking/istio/istiod/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

adding metallbv6range
  kubernetes/playground/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/playground

change metallbpool to v6range
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
  kubernetes/playground/apps/networking/metallb/config/resources.yaml
  kubernetes/playground/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/playground

updating metallb range
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
  kubernetes/playground/apps/networking/metallb/config/resources.yaml
Labels: area/kubernetes, cluster/playground
