Repository abasitt/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/metal, cluster/playground

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

# Clusters
cluster/metal:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/metal/**/*"
cluster/playground:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/playground/**/*"

switch to iptables
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomization.yaml
Labels: area/kubernetes

enable istio ambient
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

disable ambient mode
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

adjusting the user
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

disable kubeproxy
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

changing hostnames
  ansible/neo/inventory/host_vars/k3s-m1.sops.yml
  ansible/neo/inventory/host_vars/k3s-m2.sops.yml
  ansible/neo/inventory/host_vars/k3s-m3.sops.yml
  ansible/neo/inventory/host_vars/neo.yaml
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

changing calico mode
  ansible/neo/inventory/host_vars/neo.yaml
  ansible/neo/inventory/host_vars/neoas1lm-w1.yaml
  ansible/neo/inventory/host_vars/neotc1bm-w2.yaml
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
Labels: area/ansible

updating labels
  ansible/neo/inventory/host_vars/neoas1lm-w1.yaml
  ansible/neo/inventory/host_vars/neotc1bm-w2.yaml
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

enable iptables
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
  hacks/node-labels.sh
Labels: area/ansible

bootstrap
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes

enable ambient on default ns
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

fix dnscapture
  kubernetes/neo/apps/istio-system/istio-cni/app/helm-values.yaml
Labels: area/kubernetes

disable ambient
  kubernetes/neo/apps/default/namespace.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/helm-values.yaml
Labels: area/kubernetes

adjusting neopg
  ansible/neo_pg/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo_pg/inventory/hosts.yaml
Labels: area/ansible

neopg kubeconfig adjust
  ansible/neo_pg/playbooks/tasks/kubeconfig.yaml
Labels: area/ansible

changing calico to bpf for neo
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/felixconfiguration.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/ansible, area/kubernetes

disable ambient
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

revert to iptables
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
Labels: area/ansible

updating neo_pg
  ansible/neo_pg/inventory/group_vars/kubernetes/main.yaml
  ansible/neo_pg/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo_pg/inventory/group_vars/master/main.yaml
  ansible/neo_pg/inventory/hosts.yaml
  ansible/neo_pg/playbooks/templates/custom-calico-helmchart.yaml.j2
  ansible/neo_pg/playbooks/templates/custom-calico-installation.yaml.j2
Labels: area/ansible

adjusting neopg
  ansible/neo_pg/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

adjusting cluster-intall pb
  ansible/neo_pg/playbooks/cluster-installation.yaml
Labels: area/ansible

remove kubernetesendpoints from helm
  ansible/neo_pg/inventory/hosts.yaml
  ansible/neo_pg/playbooks/templates/custom-calico-helmchart.yaml.j2
Labels: area/ansible

adjust k8sendpoints
  ansible/neo_pg/inventory/group_vars/kubernetes/main.yaml
Labels: area/ansible

adding calico task
  ansible/neo_pg/playbooks/cluster-installation.yaml
  ansible/neo_pg/playbooks/tasks/calico.yaml
  ansible/neo_pg/playbooks/templates/custom-calico-installation.yaml.j2
Labels: area/ansible

adjusting kube-api
  ansible/neo_pg/inventory/group_vars/kubernetes/supplemental.yaml
Labels: area/ansible

adding node labels
  ansible/neo_pg/playbooks/cluster-installation.yaml
  ansible/neo_pg/playbooks/tasks/node_labels.yaml
Labels: area/ansible

fixing neo to use calico helm and node labels
  ansible/neo/inventory/group_vars/kubernetes/main.yaml
  ansible/neo/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/inventory/hosts.yaml
  ansible/neo/playbooks/cluster-installation.yaml
  ansible/neo/playbooks/tasks/calico.yaml
  ansible/neo/playbooks/tasks/node_labels.yaml
  ansible/neo/playbooks/templates/custom-calico-helmchart.yaml.j2
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
Labels: area/ansible

bootstrapped neo
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes

change label types
  ansible/neo/playbooks/tasks/node_labels.yaml
Labels: area/ansible

change helmrlease name
  kubernetes/neo/apps/tigera-operator/fix-operator.sh
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helmrelease.yaml
Labels: area/kubernetes

changing mode to iptables
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

bootstrap neo
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes

enable ztunnel
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

adding default ns to ambient
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

disable ambient on default
  kubernetes/neo/apps/default/namespace.yaml
Labels: area/kubernetes

disable dns capture
  kubernetes/neo/apps/default/namespace.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/helm-values.yaml
Labels: area/kubernetes

disable dns capture
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

enable proxymetatadns capture
  kubernetes/neo/apps/istio-system/istiod/app/helm-values.yaml
Labels: area/kubernetes

enable ztunnel proxy
  kubernetes/neo/apps/istio-system/istio-cni/app/helm-values.yaml
  kubernetes/neo/apps/istio-system/istio-ztunnel/app/helm-values.yaml
Labels: area/kubernetes

including kubernetesserviceendpoints back
  ansible/neo_pg/playbooks/templates/custom-calico-helmchart.yaml.j2
Labels: area/ansible
