Repository abasitt/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/metal, cluster/playground

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

# Clusters
cluster/metal:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/metal/**/*"
cluster/playground:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/playground/**/*"

updating cert-manager
  kubernetes/neo/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/neo/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/neo/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/neo/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

renaming worker
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

updating istio-gateways
  kubernetes/neo/apps/istio-gateways/ingress-gateway/ks.yaml
  kubernetes/neo/apps/istio-gateways/kustomization.yaml
  kubernetes/neo/apps/istio-gateways/namespace.yaml
Labels: area/kubernetes

updating metallb
  kubernetes/neo/apps/networking/metallb/app/helm-values.yaml
  kubernetes/neo/apps/networking/metallb/app/helmrelease.yaml
  kubernetes/neo/apps/networking/metallb/app/kustomization.yaml
  kubernetes/neo/apps/networking/metallb/app/kustomizeconfig.yaml
Labels: area/kubernetes

changing ns to observability
  kubernetes/neo/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/neo/apps/observability/grafana/app/kustomization.yaml
  kubernetes/neo/apps/observability/grafana/app/secret.sops.yaml
  kubernetes/neo/apps/observability/grafana/ks.yaml
  kubernetes/neo/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/neo/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/neo/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/neo/apps/observability/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/neo/apps/observability/kubernetes-dashboard/app/kustomization.yaml
  kubernetes/neo/apps/observability/kubernetes-dashboard/app/rbac.yaml
  kubernetes/neo/apps/observability/kubernetes-dashboard/ks.yaml
  kubernetes/neo/apps/observability/kustomization.yaml
  kubernetes/neo/apps/observability/namespace.yaml
  kubernetes/neo/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/neo/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/neo/apps/observability/prometheus-operator-crds/ks.yaml
Labels: area/kubernetes

adding lb class
  kubernetes/neo/apps/networking/metallb/app/helm-values.yaml
Labels: area/kubernetes

istio update
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

disable istio
  kubernetes/neo/apps/istio-system/kustomization.yaml
Labels: area/kubernetes

updating metallb pool
  kubernetes/neo/apps/networking/metallb/config/resources.yaml
Labels: area/kubernetes

updating cluster secret name
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes

adding coredns as repo
  kubernetes/neo/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

adding kubelet insecure-tls
  kubernetes/neo/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

re-enable kube-proxy
  ansible/neo/inventory/group_vars/master/main.yaml
Labels: area/ansible

changing calico to iptables mode
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
Labels: area/ansible

removing namespace
  kubernetes/neo/apps/network/kustomization.yaml
  kubernetes/neo/apps/network/metallb/app/helmrelease.yaml
  kubernetes/neo/apps/network/metallb/config/kustomization.yaml
  kubernetes/neo/apps/network/metallb/config/resources.yaml
Labels: area/kubernetes

adding metrics server affinity
  kubernetes/neo/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

fixing path
  kubernetes/neo/apps/network/metallb/ks.yaml
Labels: area/kubernetes

fixing bootsrap
  kubernetes/neo/flux/vars/kustomization.yaml
  kubernetes/playground/flux/vars/kustomization.yaml
Labels: area/kubernetes, cluster/playground

adding ns
  kubernetes/neo/apps/observability/kustomization.yaml
Labels: area/kubernetes

changing networking ns
  kubernetes/neo/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/neo/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/neo/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/neo/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/neo/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/neo/apps/network/cloudflared/ks.yaml
  kubernetes/neo/apps/network/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/neo/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/neo/apps/network/external-dns/app/kustomization.yaml
  kubernetes/neo/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/neo/apps/network/external-dns/ks.yaml
  kubernetes/neo/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/neo/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/neo/apps/network/k8s-gateway/ks.yaml
  kubernetes/neo/apps/network/kustomization.yaml
  kubernetes/neo/apps/network/metallb/app/helm-values.yaml
  kubernetes/neo/apps/network/metallb/app/helmrelease.yaml
  kubernetes/neo/apps/network/metallb/app/kustomization.yaml
  kubernetes/neo/apps/network/metallb/app/kustomizeconfig.yaml
  kubernetes/neo/apps/network/metallb/config/kustomization.yaml
  kubernetes/neo/apps/network/metallb/config/resources.yaml
  kubernetes/neo/apps/network/metallb/ks.yaml
  kubernetes/neo/apps/network/namespace.yaml
Labels: area/kubernetes

fixing path issue
  kubernetes/neo/apps/network/metallb/ks.yaml
Labels: area/kubernetes

reduce coredns replicas
  kubernetes/neo/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes

fixing key issue
  .taskfiles/Flux/Taskfile.yaml
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes, area/taskfile

changing cloudflare token
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes

flux bootstrap
  kubernetes/neo/flux/vars/cluster-secrets.secret.sops.yaml
Labels: area/kubernetes

adding calico bgp configs
  kubernetes/neo/apps/calico-system/calico/config/bgpconfiguration.yaml
  kubernetes/neo/apps/calico-system/calico/config/bgpgatewaypeeer.yaml
  kubernetes/neo/apps/calico-system/calico/config/kustomization.yaml
  kubernetes/neo/apps/calico-system/calico/ks.yaml
  kubernetes/neo/apps/calico-system/kustomization.yaml
  kubernetes/neo/apps/calico-system/namespace.yaml
  kubernetes/neo/apps/network/metallb/config/resources.yaml
  kubernetes/neo/apps/tigera-operator/fix-operator.sh
  kubernetes/neo/apps/tigera-operator/kustomization.yaml
  kubernetes/neo/apps/tigera-operator/namespace.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/ks.yaml
  kubernetes/neo/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

adjust bgp peering
  kubernetes/neo/apps/calico-system/calico/config/bgpgatewaypeeer.yaml
Labels: area/kubernetes

adding calico operator
  kubernetes/neo/apps/calico-system/kustomization.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helmrelease.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomization.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomizeconfig.yaml
Labels: area/kubernetes

adding felixconfigs
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/felixconfiguration.yaml
Labels: area/kubernetes

fixing name
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helmrelease.yaml
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/kustomization.yaml
Labels: area/kubernetes

updating vars
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
  kubernetes/neo/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

updating vars
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

fixng valuesyaml calico
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

fixing values
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

changing value
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

updating values
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

enable calico apiserver
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

updating values
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

enable apiserver calico
  kubernetes/neo/apps/tigera-operator/tigera-operator/app/helm-values.yaml
Labels: area/kubernetes

add calicobgp configs
  kubernetes/neo/apps/calico-system/kustomization.yaml
Labels: area/kubernetes
