Repository abasitt/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, cluster/metal, cluster/playground

.github/labeler.yaml:

---
# Areas
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

# Clusters
cluster/metal:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/metal/**/*"
cluster/playground:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/playground/**/*"

changing ipaddresspool order
  kubernetes/playground/apps/networking/metallb/config/resources.yaml
Labels: area/kubernetes, cluster/playground

changing service
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

change svc
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

reverting svc changes
  kubernetes/playground/apps/networking/istio/istio-gateways/ingress-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/playground

replacing cilium with calico
  ansible/neo/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo/playbooks/cluster-installation.yaml
  ansible/neo/playbooks/tasks/calico.yaml
  ansible/neo/playbooks/templates/custom-calico-helmchart.yaml.j2
  ansible/neo/playbooks/templates/custom-cilium-helmchart.yaml.j2
Labels: area/ansible

fixing calico install issues
  ansible/neo/inventory/group_vars/kubernetes/main.yaml
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/inventory/hosts.yaml
  ansible/neo/playbooks/cluster-installation.yaml
  ansible/neo/playbooks/tasks/calico.yaml
  ansible/neo/playbooks/templates/custom-calico-helmchart.yaml.j2
  ansible/neo/playbooks/templates/custom-calico-k8service.yaml.j2
  ansible/neo/playbooks/templates/custom-calico.tigerans.yaml.j2
Labels: area/ansible

fixing many issues to make dualstack works with kube-vip
  .envrc
  ansible/neo/inventory/group_vars/kubernetes/main.yaml
  ansible/neo/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/inventory/group_vars/worker/main.yaml
  ansible/neo/inventory/hosts.yaml
  ansible/neo/playbooks/cluster-kube-vip.yaml
  ansible/neo/playbooks/tasks/kubeconfig.yaml
  ansible/neo/playbooks/tasks/version-check.yaml
  ansible/neo/playbooks/templates/custom-calico-helmchart.yaml.j2
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
  ansible/neo/playbooks/templates/kube-vip-static-pod.yaml.j2
  ansible/playground/inventory/group_vars/kubernetes/supplemental.yaml
Labels: area/ansible

switching from kube-vip static pod to ds
  ansible/neo/inventory/group_vars/kubernetes/main.yaml
  ansible/neo/playbooks/templates/kube-vip-ds.yaml.j2
  ansible/neo/playbooks/templates/kube-vip-k8service.yaml.j2
  ansible/neo/playbooks/templates/kube-vip-rbac.yaml.j2
Labels: area/ansible

adjusting host file ip addresses
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

changing k3s_agent specs
  ansible/neo/inventory/group_vars/worker/main.yaml
Labels: area/ansible

first fully working cluster with worker nodes
  ansible/neo/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo/inventory/group_vars/master/main.yaml
  ansible/neo/inventory/group_vars/worker/main.yaml
  ansible/neo/playbooks/templates/custom-calico-installation.yaml.j2
  ansible/neo/playbooks/templates/kube-vip-ds.yaml.j2
Labels: area/ansible

creating ansible folder of neo_pg as a future playground
  ansible/neo_pg/.envrc
  ansible/neo_pg/inventory/group_vars/kubernetes/main.yaml
  ansible/neo_pg/inventory/group_vars/kubernetes/supplemental.yaml
  ansible/neo_pg/inventory/group_vars/master/main.yaml
  ansible/neo_pg/inventory/group_vars/worker/main.yaml
  ansible/neo_pg/inventory/host_vars/.gitkeep
  ansible/neo_pg/inventory/host_vars/k3s-m1.sops.yml
  ansible/neo_pg/inventory/host_vars/k3s-m2.sops.yml
  ansible/neo_pg/inventory/host_vars/k3s-m3.sops.yml
  ansible/neo_pg/inventory/hosts.yaml
  ansible/neo_pg/playbooks/README.md
  ansible/neo_pg/playbooks/cluster-installation.yaml
  ansible/neo_pg/playbooks/cluster-kube-vip.yaml
  ansible/neo_pg/playbooks/cluster-nuke.yaml
  ansible/neo_pg/playbooks/cluster-prepare.yaml
  ansible/neo_pg/playbooks/cluster-reboot.yaml
  ansible/neo_pg/playbooks/cluster-rollout-update.yaml
  ansible/neo_pg/playbooks/tasks/coredns.yaml
  ansible/neo_pg/playbooks/tasks/cruft.yaml
  ansible/neo_pg/playbooks/tasks/helm_controller.yaml
  ansible/neo_pg/playbooks/tasks/kubeconfig.yaml
  ansible/neo_pg/playbooks/tasks/version-check.yaml
  ansible/neo_pg/playbooks/templates/custom-calico-helmchart.yaml.j2
  ansible/neo_pg/playbooks/templates/custom-calico-installation.yaml.j2
  ansible/neo_pg/playbooks/templates/custom-calico-k8service.yaml.j2
  ansible/neo_pg/playbooks/templates/custom-calico.tigerans.yaml.j2
  ansible/neo_pg/playbooks/templates/custom-coredns-helmchart.yaml.j2
  ansible/neo_pg/playbooks/templates/kube-vip-ds.yaml.j2
  ansible/neo_pg/playbooks/templates/kube-vip-k8service.yaml.j2
  ansible/neo_pg/playbooks/templates/kube-vip-rbac.yaml.j2
  ansible/neo_pg/playbooks/templates/kube-vip-static-pod.yaml.j2
Labels: area/ansible

removing worker for now
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

adjusting dns
  ansible/neo/playbooks/cluster-prepare.yaml
Labels: area/ansible

addng zfs package
  ansible/neo/playbooks/cluster-prepare.yaml
Labels: area/ansible

fixing dns typo
  ansible/neo/playbooks/cluster-prepare.yaml
Labels: area/ansible

adding tigera patch
  ansible/neo/playbooks/cluster-patch-tigera.yaml
Labels: area/ansible

Update flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

adding calico charts
  kubernetes/neo/flux/repositories/helm/calico.yaml
  kubernetes/neo/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/neo/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

removing localpath git repo
  kubernetes/neo/flux/repositories/git/kustomization.yaml
Labels: area/kubernetes

updating helm repos
  kubernetes/neo/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/neo/flux/repositories/helm/coredns.yaml
  kubernetes/neo/flux/repositories/helm/kustomization.yaml
  kubernetes/neo/flux/repositories/helm/openebs.yaml
  kubernetes/playground/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/playground/flux/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes, cluster/playground

update flux.yaml
  kubernetes/neo/flux/config/flux.yaml
Labels: area/kubernetes

adjusting cluster.yaml
  kubernetes/neo/flux/config/cluster.yaml
Labels: area/kubernetes

updating cluster-settings vars
  ansible/neo/inventory/hosts.yaml
  kubernetes/neo/flux/apps.yaml
  kubernetes/neo/flux/vars/cluster-settings.yaml
Labels: area/ansible, area/kubernetes

updating bootstrap
  kubernetes/neo/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/neo/bootstrap/flux/github-deploy-key.secret.sops.yaml
  kubernetes/neo/bootstrap/flux/kustomization.yaml
  kubernetes/neo/bootstrap/flux/readme.md
  kubernetes/neo/bootstrap/kustomization.yaml
Labels: area/kubernetes

removing hajimari
  kubernetes/playground/flux/repositories/helm/hajimari.yaml
  kubernetes/playground/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/playground

removing hajimari app
  kubernetes/neo/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/neo/apps/default/hajimari/app/kustomization.yaml
  kubernetes/neo/apps/default/hajimari/ks.yaml
  kubernetes/neo/apps/default/kustomization.yaml
Labels: area/kubernetes

removing weavegitops
  kubernetes/neo/apps/default/echo-server/app/helmrelease.yaml
  kubernetes/neo/apps/default/echo-server/ks.yaml
  kubernetes/neo/apps/flux-system/kustomization.yaml
  kubernetes/neo/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/neo/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/neo/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/neo/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

fix flux addon path
  kubernetes/neo/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

updatign metallb charts
  kubernetes/neo/apps/networking/metallb/app/helm-values.yaml
  kubernetes/neo/apps/networking/metallb/app/helmrelease.yaml
  kubernetes/neo/apps/networking/metallb/app/kustomization.yaml
  kubernetes/neo/apps/networking/metallb/app/kustomizeconfig.yaml
  kubernetes/neo/apps/networking/metallb/ks.yaml
Labels: area/kubernetes

updating receiver configs
  kubernetes/neo/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: area/kubernetes

rearranging istio
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/helmrelease.yaml
  kubernetes/neo/apps/istio-gateways/ingress-gateway/app/kustomization.yaml
  kubernetes/neo/apps/istio-gateways/ingress-gateway/ks.yaml
  kubernetes/neo/apps/istio-gateways/ingressclass.yaml
  kubernetes/neo/apps/istio-gateways/kustomization.yaml
  kubernetes/neo/apps/istio-gateways/namespace.yaml
  kubernetes/neo/apps/istio-system/istio-base/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istio-base/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-base/ks.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istio-cni/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istio-cni/ks.yaml
  kubernetes/neo/apps/istio-system/istiod/addons/monitoring/kustomization.yaml
  kubernetes/neo/apps/istio-system/istiod/addons/monitoring/podmonitor.yaml
  kubernetes/neo/apps/istio-system/istiod/app/helmrelease.yaml
  kubernetes/neo/apps/istio-system/istiod/app/kustomization.yaml
  kubernetes/neo/apps/istio-system/istiod/ks.yaml
  kubernetes/neo/apps/istio-system/kustomization.yaml
  kubernetes/neo/apps/istio-system/namespace.yaml
  kubernetes/neo/apps/networking/kustomization.yaml
Labels: area/kubernetes

updating flux webhook
  kubernetes/neo/apps/flux-system/addons/webhooks/github/ingress.yaml
Labels: area/kubernetes

removing nginx ingress
  kubernetes/neo/apps/kube-system/coredns/ks.yaml
  kubernetes/neo/apps/kube-system/kustomization.yaml
  kubernetes/neo/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/neo/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/neo/apps/kube-system/metrics-server/ks.yaml
  kubernetes/neo/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/neo/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/neo/apps/kube-system/reloader/ks.yaml
  kubernetes/neo/apps/monitoring/kustomization.yaml
  kubernetes/neo/apps/networking/ingress-nginx/app/helmrelease.yaml
  kubernetes/neo/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/neo/apps/networking/ingress-nginx/certificates/certificates.yaml
  kubernetes/neo/apps/networking/ingress-nginx/certificates/kustomization.yaml
  kubernetes/neo/apps/networking/ingress-nginx/ks.yaml
Labels: area/kubernetes

removing cilium from neo
  kubernetes/neo/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/neo/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/neo/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

updating webhook token
  kubernetes/neo/apps/flux-system/addons/webhooks/github/secret.sops.yaml
Labels: area/kubernetes

adding a worker node
  ansible/neo/inventory/hosts.yaml
Labels: area/ansible

removing localpath neo
  kubernetes/neo/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/neo/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/neo/apps/kube-system/local-path-provisioner/ks.yaml
Labels: area/kubernetes

metallb update
  kubernetes/neo/apps/istio-gateways/kustomization.yaml
  kubernetes/neo/apps/networking/kustomization.yaml
Labels: area/kubernetes

modifying kubedns
  kubernetes/neo/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/neo/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/neo/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/neo/apps/kube-system/coredns/app/kustomizeconfig.yaml
Labels: area/kubernetes
